# Auto detect text files and perform LF normalization
* text=auto
StealAlive/Assets/ThirdParty/** filter=git-crypt diff=git-crypt
StealAlive/Assets/Audio/** filter=git-crypt diff=git-crypt
StealAlive/Assets/Animation/Animations/** filter=git-crypt diff=git-crypt
